.hexagon-parent {
  --border-color: var(--color-secondary-1-2);
  --fill-color: rgba(1, 1, 1, 0);
  --size: 40px;
  /* --border-width: calc(var(--size) * 0.11785166); */
  --border-width: 5px;

  margin-left: var(--margin);
  margin-right: var(--margin);
  height: calc(var(--size) * 1.154701);
  width: var(--size);
  font-size: calc(var(--size) * 0.5666);
  line-height: calc(var(--size) * 0.5666);
}

.fill {
  --fill-color: var(--color-primary-1);
}

.hexagon span {
  position: relative;
  z-index: 2;
  user-select: none;
}

/* http://brenna.github.io/csshexagon/ */
/* hexagon diagonal https://www.engineeringtoolbox.com/hexagon-square-distance-corner-d_1892.html */
.hexagon {
  position: relative;
  width: var(--size);
  height: calc(var(--size) * 0.57735);
  background-color: var(--fill-color);
  margin: calc(var(--size) * 0.28868) 0;
  border-left: solid var(--border-width) var(--border-color);
  border-right: solid var(--border-width) var(--border-color);
  color: var(--border-color);
  cursor: pointer;
}

.hexagon::before,
.hexagon::after {
  content: '';
  position: absolute;
  z-index: 1;
  width: calc(var(--size) * 0.70711);
  height: calc(var(--size) * 0.70711);
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  /* left: calc(var(--size) * 0); */
  left: calc(var(--size) * 0.025);
}

.hexagon::before {
  top: calc(var(--size) * -0.3535534);
  border-top: solid calc(var(--border-width) * 1.41422) var(--border-color);
  border-right: solid calc(var(--border-width) * 1.41422) var(--border-color);
}

.hexagon::after {
  bottom: calc(var(--size) * -0.3535534);
  border-bottom: solid calc(var(--border-width) * 1.41422) var(--border-color);
  border-left: solid calc(var(--border-width) * 1.41422) var(--border-color);
}
