.month {
  display: flex;
  flex-direction: row;
  --margin: 3px;
  align-content: center;
  text-align: center;
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}

.month > h3 {
  display: block;
  width: 50px;
  font-size: 20px;
  line-height: 20px;
  align-self: center;
}
